<ion-grid class="footer">
  <ion-row>
    <ion-col>
      <div class="col-width">
        <ul class="inline-list">
          <li>About</li>
          <li>Settings</li>
          <li>Help</li>
        </ul>

        <ion-text color="primary" class="text"> © 2022 Story Keeper. All rights reserved </ion-text>
      </div>
    </ion-col>
    <ion-col class="d-flex-column ion-align-items-end">
      <div class="d-flex-row">
        <ion-text color="primary" class="find-us-text ion-padding-end"> Find us on social networks </ion-text>
        <ion-row class="icons-margin">
          <ion-col class="icon">
            <img src="assets/images/facebookShare.svg" alt="" />
          </ion-col>
          <ion-col class="icon">
            <img src="assets/images/instagram.svg" alt="" />
          </ion-col>
          <ion-col class="icon">
            <img src="assets/images/whatsapp.svg" alt="" />
          </ion-col>
          <ion-col class="icon">
            <img src="assets/images/twitter.svg" alt="" />
          </ion-col>
          <ion-col class="icon">
            <img src="assets/images/Copy.svg" alt="" />
          </ion-col>
        </ion-row>
      </div>

      <ion-text color="primary" class="text ion-padding-top">
        <a href="">Privacy Policy</a> | <a href="">Terms of Service</a>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
