<div class="ion-page">
  <ion-grid class="m-0">
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="dismiss()" size="small" fill="clear" class="ion-float-end">
          <ion-icon name="close-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-text class="ion-text-center">
          <h1 class="title">{{ title }}</h1>
          <p *ngIf="subtitle !== ''" class="subtitle">{{ subtitle }}</p>
        </ion-text>
      </ion-col>

      <ion-col size="12" class="ion-text-center">
        <img [src]="imageUrl" alt="image" />
      </ion-col>

      <ion-col size="12">
        <ion-list>
          <div class="ion-padding-horizontal mt-2 mb-2">
            <ion-button
              (click)="submit()"
              type="button"
              class="default-button ion-text-capitalize"
              [color]="confirmbuttonClass"
              expand="block"
              translate
            >
              {{ confirmbuttonText }}
            </ion-button>

            <ion-button
              *ngIf="cancelbuttonText !== ''"
              (click)="dismiss()"
              type="button"
              class="default-button mt-3 ion-text-capitalize"
              [color]="cancelbuttonClass"
              expand="block"
              fill="outline"
              translate
            >
              {{ cancelbuttonText }}
            </ion-button>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
