.book-thumbnail {
  background: #dfe2e9;
  height: 206px;
  border-radius: 16px;
  overflow: hidden;
}

.book-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding-top: 15px;
}
