<div class="book-card">
  <div class="book-thumbnail">
    <img [src]="book.thumbnail" alt="" />
  </div>

  <ion-button type="button" shape="circle" href="tabs/my-library/update-book/1" class="edit-button" color="light">
    <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
  </ion-button>

  <div class="book-details">
    <ion-label class="book-title">{{ book.title }}</ion-label>
    <div class="small-text">{{ book.published_at }}</div>
    <div class="small-text">{{ book.author }}</div>
  </div>
</div>
