<ion-item lines="none">
  <ion-avatar slot="start">
    <img src="assets/logos/rec-white.png " />
  </ion-avatar>

  <div>
    <h3>{{ question.question }}</h3>
    <ion-label color="success">{{ question.description }}</ion-label>
  </div>

  <ion-button shape="circle" color="tranparent" slot="end" (click)="onAdd(question)" *ngIf="type !== 'Added Questions'">
    <ion-icon class="btn-icon" slot="icon-only" src="assets/images/plus-square.svg"></ion-icon>
  </ion-button>
  <ion-button
    shape="circle"
    color="tranparent"
    slot="end"
    (click)="onDelete(question)"
    *ngIf="type === 'Added Questions'"
  >
    <ion-icon class="btn-icon" slot="icon-only" src="assets/images/minus-square.svg"></ion-icon>
  </ion-button>
</ion-item>
