<ion-item lines="none" class="ion-no-padding">
  <ion-avatar slot="start">
    <app-image [imgClass]="'cover-img'" [image]="item?.image" alt=""></app-image>
    <!-- <ion-img [src]="item?.image" appImage onError="this.onerror=null;this.src='assets/images/bro.svg'"></ion-img> -->
  </ion-avatar>
  <ion-label class="ion-text-wrap">
    <ion-text>
      <h3 *ngIf="item?.status !== 3; else pending" class="link" (click)="gotoDetail(item?.id)">{{ item?.title }}</h3>
      <ng-template #pending>
        <h3>{{ item?.title }}</h3>
      </ng-template>

      <ion-label>
        <!-- • {{ item?.year ? item?.year : '-' }} -->
        <span class="{{ 'status-' + bookStatus(item?.status) }} text-capitalize">{{ bookStatus(item?.status) }} </span>
        <span class="{{ 'status-' + bookStatus(item?.status) }}"
          >• Sender: {{ item?.recipientEmail ? item?.recipientEmail : '-' }}</span
        >
      </ion-label>
    </ion-text>
  </ion-label>
</ion-item>
