<ion-content class="ion-page">
  <div [class.web-page]="isWeb">
    <ion-card class="ion-text-center" [class.header-web]="isWeb">
      <ion-header class="ion-no-padding ion-no-border" *ngIf="!isWeb">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
          </ion-buttons>
          <ion-icon
            (click)="openMenu()"
            color="light"
            class="more-icon ion-padding-end"
            slot="end"
            name="ellipsis-horizontal-circle-outline"
          ></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-card-content [ngClass]="isWeb ? 'ion-no-padding' : 'ion-padding'" [class.mb-4]="isWeb">
        <ion-card-title>
          <h1 translate>{{ routeParams ? routeParams.bookTitle : 'My New Book' }}</h1>
        </ion-card-title>
        <div class="ion-padding-horizontal mt-4 mb-3 actions" fxLayout="row" fxLayoutGap="20px">
          <ion-button
            fxFlex="50"
            type="button"
            class="default-button sm ion-text-capitalize"
            [color]="isWeb ? 'primary' : 'light'"
            expand="block"
            (click)="shareBook()"
            fill="outline"
            translate
          >
            <ion-icon class="btn-icon" name="share-social-outline"></ion-icon> Share
          </ion-button>
          <ion-button
            type="button"
            (click)="EditBook()"
            fxFlex="50"
            class="default-button sm ion-text-capitalize"
            [color]="isWeb ? 'primary' : 'light'"
            expand="block"
            fill="outline"
            translate
          >
            <ion-icon
              class="btn-icon"
              slot="icon-only"
              [src]="isWeb ? 'assets/images/edit-ion.svg' : 'assets/images/edit-icon-white.svg'"
            ></ion-icon>
            Edit
          </ion-button>
        </div>
        <p>Your book has {{ bookStories.length }} chapters. There are 24 chapters in total.</p>
        <ion-text (click)="ViewSharing()" class="link" color="secondary"> <span>View Sharings</span> </ion-text>
      </ion-card-content>
    </ion-card>

    <div [ngClass]="isWeb ? 'ion-no-padding' : 'ion-padding'">
      <ion-grid class="p-0 mt-3">
        <section [@listAnimation]="bookStories?.length">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="heading">Chapters of My book</div>

            <ion-text (click)="editChapter()" class="link ion-padding-end" color="secondary">
              <span>Edit</span>
            </ion-text>
          </div>
          <app-loader *ngIf="isLoading" [isLoading]="isLoading"></app-loader>
          <ion-list>
            <ng-container *ngIf="bookStories | filter: chapterStatus['published'] as items">
              <ion-item-sliding *ngFor="let item of items">
                <ion-item-options side="end">
                  <ion-item-option style="background: #fff" color="light">
                    <ion-icon class="btn-icon" slot="icon-only" src="assets/images/edit-ion.svg"></ion-icon>
                  </ion-item-option>
                  <ion-item-option style="background: #fff" color="light">
                    <ion-icon class="btn-icon" slot="icon-only" src="assets/images/minus-square.svg"></ion-icon>
                  </ion-item-option>
                </ion-item-options>

                <ion-item lines="none" class="ion-no-padding">
                  <ion-avatar slot="start">
                    <app-image [imgClass]="'cover-img'" [image]="bookImg" alt=""></app-image>
                  </ion-avatar>
                  <ion-label class="ion-text-wrap">
                    <ion-text>
                      <h3>{{ item?.question }}</h3>
                      <!-- <ion-label color="success">Published• 01/2021 • Lena Horushenko</ion-label> -->
                      <ion-label color="success"
                        >Published• {{ item?.answerLastModificationDate | date: 'medium' }}</ion-label
                      >
                    </ion-text>
                  </ion-label>
                  <ion-icon
                    slot="end"
                    (click)="recordingScreen(item, 'published')"
                    class="cursor-pointer btn-icon"
                    src="assets/images/play.svg"
                  ></ion-icon>
                </ion-item>
              </ion-item-sliding>
              <p *ngIf="!items.length" class="small-errortext">No chapters published yet!</p>
            </ng-container>
          </ion-list>
        </section>

        <section [@listAnimation]="bookStories?.length">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="heading">Chapters in progress</div>
          </div>

          <ion-list slot="content">
            <ng-container *ngIf="bookStories | filter: chapterStatus['inprogress'] as items">
              <ion-item-sliding *ngFor="let item of items">
                <ion-item-options side="end">
                  <ion-item-option (click)="EditChapter(item)" style="background: #fff" color="light">
                    <ion-icon class="btn-icon" slot="icon-only" src="assets/images/edit-ion.svg"></ion-icon>
                  </ion-item-option>
                  <ion-item-option style="background: #fff" color="light">
                    <ion-icon class="btn-icon" slot="icon-only" src="assets/images/minus-square.svg"></ion-icon>
                  </ion-item-option>
                </ion-item-options>

                <ion-item (click)="recordingScreen(item, 'inprogress')" lines="none" class="ion-no-padding">
                  <ion-avatar slot="start">
                    <app-image [imgClass]="'cover-img'" [image]="bookImg" alt=""></app-image>
                  </ion-avatar>

                  <div class="text-truncate">
                    <h3>{{ item?.question }}</h3>
                    <ion-label color="success">Pending</ion-label>
                  </div>
                </ion-item>
              </ion-item-sliding>
              <p *ngIf="!items.length" class="small-errortext">No chapters are Inprogress yet!</p>
            </ng-container>
          </ion-list>
        </section>
      </ion-grid>
    </div>
  </div>
</ion-content>
