@import "../../theme/mixins.scss";
@include for-phone-only {
  ion-grid,
  ion-row {
    height: 100%;
  }
}
.login-background {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.login-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
}

.login-header {
  font-weight: 600;
  line-height: 44px;
  font-size: 28px;
  color: var(--ion-color-primary);
}
.login-sub-heading {
  font-size: 14px;
  font-weight: 400;
  color: var(--ion-color-tertiary);
}

.login-container {
  background-color: transparent;
  max-width: 380px;
  padding: 10px;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.form-input-label {
  color: var(--ion-color-primary);
  font-weight: 500 !important;
  font-size: 16px;
}
.form-input {
  margin-top: 15px;
  padding: 10px 16px !important;
  background-color: var(--ion-color-light);
  color: var(--ion-color-tertiary);
  border-radius: 8px;

  &.ion-invalid {
    background-color: var(--ion-color-danger-opacity);
    color: var(--ion-color-danger);
  }
  &:is(.ion-untouched, .ion-pristine) {
    background-color: var(--ion-color-light);
    color: var(--ion-color-tertiary);
  }
}

.forgot-password-link {
  color: var(--ion-color-medium);
  line-height: 20px;
  font-size: 14px;
}

.social-login {
  padding: 0 16px;
  display: flex;
  place-content: space-between;
  align-items: center;
  margin: 32px auto 20px;
  max-width: 400px;

  .icon {
    padding: 0 7px;
    text-align: center;
  }
}
.switch-page {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}
