<ion-content class="ion-page">
  <div [class.web-page]="isWeb">
    <ion-card class="ion-text-center ion-card-as-header" [class.header-web]="isWeb">
      <ion-header class="ion-no-padding ion-no-border" *ngIf="!isWeb">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
          </ion-buttons>
          <ion-icon
            color="light"
            class="more-icon ion-padding-end"
            slot="end"
            name="ellipsis-horizontal-circle-outline"
          ></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-card-content [ngClass]="isWeb ? 'ion-no-padding' : 'ion-padding'" [class.mb-4]="isWeb">
        <ion-card-title>
          <ion-breadcrumbs *ngIf="isWeb">
            <ion-breadcrumb routerLink="/my-books"> My Books </ion-breadcrumb>
            <ion-breadcrumb>{{ routeParams?.bookTitle }} </ion-breadcrumb>
          </ion-breadcrumbs>

          <h1 *ngIf="!isWeb">{{ routeParams?.bookTitle }}</h1>
        </ion-card-title>
      </ion-card-content>
    </ion-card>

    <div [ngClass]="isWeb ? 'ion-no-padding' : 'ion-padding'">
      <ion-grid class="p-0 mt-3">
        <section>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="heading">Chapter of Book</div>
          </div>
          <app-loader *ngIf="isLoading" [isLoading]="isLoading"></app-loader>

          <ion-list>
            <ng-container *ngIf="bookStories | filter: chapterStatus['published'] as items">
              <ion-item *ngFor="let item of items" lines="none" class="ion-no-padding">
                <ion-avatar slot="start">
                  <ion-img src="assets/logos/rec-white.png "></ion-img>
                </ion-avatar>
                <ion-label class="ion-text-wrap">
                  <ion-text>
                    <h3>{{ item?.question }}</h3>
                    <ion-label>
                      <!-- <span class="status-published">Published • 01/2021 • Lena Horushenko</span> -->
                      <span class="status-published">Published • - • -</span>
                    </ion-label>
                  </ion-text>
                </ion-label>
                <ion-icon
                  slot="end"
                  (click)="gotoRecording(item)"
                  class="cursor-pointer btn-icon"
                  src="assets/images/play.svg"
                ></ion-icon>
              </ion-item>
              <!-- <ion-item lines="none" class="ion-no-padding">
                <ion-avatar slot="start">
                  <ion-img src="assets/logos/rec-white.png "></ion-img>
                </ion-avatar>
                <ion-label class="ion-text-wrap">
                  <ion-text>
                    <h3>My Mom Story</h3>
                    <ion-label>
                      <span class="status-published">Published • 01/2021 • Lena Horushenko</span>
                    </ion-label>
                  </ion-text>
                </ion-label>
                <ion-icon
                  slot="end"
                  (click)="gotoRecording()"
                  class="cursor-pointer btn-icon"
                  src="assets/images/play.svg"
                ></ion-icon>
              </ion-item> -->

              <div *ngIf="!items.length" class="no-published-book">
                <p>You don't have recorded stories</p>
                <div class="text-center">
                  <img src="assets/images/no-published-book.svg" alt="image" />
                </div>
              </div>
            </ng-container>
          </ion-list>
        </section>

        <section>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="heading">Chapters in progress</div>
          </div>

          <ion-list slot="content">
            <ng-container *ngIf="bookStories | filter: chapterStatus['inprogress'] as items">
              <ion-item *ngFor="let item of items" lines="none" class="ion-no-padding">
                <ion-avatar slot="start">
                  <ion-img src="assets/logos/rec-white.png "></ion-img>
                </ion-avatar>
                <ion-label class="ion-text-wrap">
                  <ion-text>
                    <h3 class="curson-pointer" (click)="gotoRecording(item)">{{ item?.question }}</h3>
                    <ion-label>
                      <!-- <span class="status-inprogress">Pending • 01/2021 • Lena Horushenko</span> -->
                      <span class="status-inprogress">Pending • - • -</span>
                    </ion-label>
                  </ion-text>
                </ion-label>
              </ion-item>

              <div *ngIf="!items.length" class="no-published-book">
                <p>You don't have stories inprogress</p>
                <div class="text-center">
                  <img src="assets/images/no-published-book.svg" alt="image" />
                </div>
              </div>
            </ng-container>
          </ion-list>
        </section>
      </ion-grid>
    </div>
  </div>
</ion-content>
