ion-item {
  margin-bottom: 24px;
  --border-radius: 8px;
  &.profile-form {
    --padding-start: 28px;
  }
}

ion-modal {
  --width: 340px;
  --height: 600px;
  --border-radius: 8px;
}

.setting-page {
  .form-container {
    @media (min-width: 768px) {
      max-width: 460px;
      margin: auto;
    }
    @media (max-width: 480px) {
      max-width: 100%;
      margin: auto;
    }
  }

  .new-email-link {
    font-size: 14px;
    cursor: pointer;
  }
}

.font-size-12px {
  font-size: 12px;
}
