<ion-content class="ion-page">
  <app-mobile-header backPageUrl="/tabs/home" *ngIf="!isWeb">
    <div class="header-title">
      {{ step === (1 || 3) ? '' : 'Adding Chapters' }}
    </div>
    <div class="header-content" [ngSwitch]="step">
      <div class="ion-padding pb-4">
        <ion-progress-bar [value]="step * 0.34"></ion-progress-bar>
      </div>

      <ion-card-title *ngSwitchCase="1 || 3">
        <h1 class="text-white" translate>Edit my new book</h1>
      </ion-card-title>

      <ion-text class="ion-text-center" color="primry" *ngSwitchCase="2">
        <ion-label class="d-block" color="secondary">You have the option to add 24 chapters</ion-label>
        <p>After adding a question, you can edit the description and title</p>
      </ion-text>
      <div *ngSwitchCase="2" class="ion-padding-horizontal mt-4 mb-3">
        <ion-button
          type="button"
          fill="outline"
          class="default-button ion-text-capitalize"
          color="secondary"
          expand="block"
          (click)="newQustion()"
          translate
        >
          Add your Question
        </ion-button>
      </div>
    </div>
  </app-mobile-header>
  <div class="ion-padding" [class.web-page]="isWeb">
    <ion-text color="primary" *ngIf="isWeb">
      <ion-breadcrumbs>
        <ion-breadcrumb href="javascript:void(0)" (click)="navigateTo('tabs/my-library')"> My Library </ion-breadcrumb>
        <ion-breadcrumb> Edit </ion-breadcrumb>
      </ion-breadcrumbs>
    </ion-text>

    <div [ngSwitch]="step" class="my-form">
      <!-- step 1 -->
      <div class="ion-padding pb-4 form-container" *ngIf="isWeb">
        <ion-progress-bar [value]="step * 0.34"></ion-progress-bar>
      </div>
      <div class="form-container" *ngSwitchCase="1">
        <ion-text color="primry" *ngIf="isWeb">
          <h1>Edit my new Book</h1>
        </ion-text>

        <form (ngSubmit)="saveStep1()" [formGroup]="step1Form" novalidate autocomplete="off">
          <ion-list>
            <ion-item lines="none">
              <ion-label class="form-input-label" position="stacked" translate>Book Title</ion-label>
              <ion-input class="form-input" type="text" formControlName="bookTitle" autocomplete="Name"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label class="form-input-label" position="stacked" translate>Recipients Name</ion-label>
              <ion-input
                class="form-input"
                type="text"
                formControlName="recipientsName"
                autocomplete="new email"
              ></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label class="form-input-label" position="stacked" translate>Recipients Email</ion-label>
              <ion-input
                class="form-input"
                type="text"
                formControlName="recipientsEmail"
                autocomplete="new email"
              ></ion-input>
            </ion-item>
          </ion-list>
          <div class="ion-padding-horizontal pt-3">
            <ion-button
              type="submit"
              class="submit-button ion-text-capitalize"
              [disabled]="step1Form.invalid || isLoading"
              color="primary"
              expand="block"
              translate
              >Next Step</ion-button
            >
          </div>
        </form>
      </div>

      <!-- step 2 add questions -->
      <div *ngSwitchCase="2">
        <ion-text class="ion-text-center" color="primry" *ngIf="isWeb">
          <h1>Adding Chapters</h1>
          <ion-label class="d-block" color="secondary">You have the option to add 24 chapters</ion-label>
          <p>After adding a question, you can edit the description and title</p>
        </ion-text>
        <ion-text color="primary">
          <h1 class="ion-text-left ion-padding-top">Question of My Book</h1>
        </ion-text>

        <!-- Basic -->
        <ion-accordion-group>
          <ion-accordion expand="inset" multiple="true" *ngFor="let item of List" [value]="item.type">
            <ion-item slot="header">
              <ion-label>{{ item.type }}</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ng-container *ngFor="let quest of item.questions">
                <app-question-card
                  (delete)="removeQuestion($event)"
                  [type]="item.type"
                  [question]="quest"
                ></app-question-card>
              </ng-container>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>

        <ion-item lines="none" *ngIf="isWeb">
          <a (click)="newQustion()" class="add-new-question" href="javascript:void(0)">
            <img src="assets/images/plus-square.svg" alt="icon" />
            <span class="pl-1">Add new Question</span>
          </a>
        </ion-item>

        <div class="form-container">
          <ion-button
            type="button"
            class="default-button ion-text-capitalize"
            color="primary"
            expand="block"
            (click)="step = 3"
            translate
          >
            Save Questions
          </ion-button>
        </div>
      </div>

      <!-- step 3 add book image -->
      <div *ngSwitchCase="3">
        <div class="form-container">
          <ion-text color="primry" *ngIf="isWeb">
            <h1>Edit my new Book</h1>
          </ion-text>

          <div class="image-container">
            <ion-icon class="plus-icon" name="add-circle-outline"></ion-icon>
          </div>

          <ion-text color="tertiary" class="text-center">
            <p>Adding a picture you can skip</p>
          </ion-text>

          <ion-button
            type="button"
            class="default-button ion-text-capitalize"
            color="primary"
            expand="block"
            (click)="save()"
            translate
          >
            Save
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
