<ion-item lines="none">
  <ion-avatar slot="start">
    <img src="assets/logos/rec-white.png " />
  </ion-avatar>

  <div>
    <h3>{{ question.question }}?</h3>
    <ion-label color="success">some discription</ion-label>
  </div>

  <!-- <ion-icon name="add-outline" slot="end"></ion-icon> -->
  <ion-buttons slot="end">
    <img class="cursor-pointer" *ngIf="type !== 'Added Questions'" src="assets/images/plus-square.svg" alt="icon" />
    <img class="cursor-pointer" *ngIf="type === 'Added Questions'" src="assets/images/minus-square.svg" alt="icon" />
  </ion-buttons>
</ion-item>
