<div [ngClass]="ngClass">
  <ion-text color="primary" class="find-us-text">Find us on social networks</ion-text>
  <ion-row class="icons-margin">
    <ion-col class="icon">
      <img src="assets/images/facebookShare.svg" alt="" />
    </ion-col>
    <ion-col class="icon">
      <img src="assets/images/instagram.svg" alt="" />
    </ion-col>
    <ion-col class="icon">
      <img src="assets/images/whatsapp.svg" alt="" />
    </ion-col>
    <ion-col class="icon">
      <img src="assets/images/twitter.svg" alt="" />
    </ion-col>
    <ion-col class="icon">
      <img src="assets/images/Copy.svg" alt="" />
    </ion-col>
  </ion-row>
</div>
