<!-- <div [ngClass]="ngClass">
  <ion-text color="primary" class="find-us-text">Find us on social networks</ion-text>

</div> -->

<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm>
      <ion-text color="primary" class="find-us-text">Find us on social networks</ion-text>
    </ion-col>
    <ion-col size="12" size-sm>
      <ion-row class="icons-margin">
        <ion-col class="icon">
          <img src="assets/images/facebookShare.svg" alt="" />
        </ion-col>
        <ion-col class="icon">
          <img src="assets/images/instagram.svg" alt="" />
        </ion-col>
        <ion-col class="icon">
          <img src="assets/images/whatsapp.svg" alt="" />
        </ion-col>
        <ion-col class="icon">
          <img src="assets/images/twitter.svg" alt="" />
        </ion-col>
        <ion-col class="icon">
          <img src="assets/images/Copy.svg" alt="" />
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
