.header-background {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  height: 65px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  place-content: center space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-name {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  line-height: 28px;
}

.action-link {
  color: #fff;
  outline: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  display: block;
  align-items: center;
  cursor: pointer;

  img {
    margin-right: 4px;
    height: 14px;
  }
}
