ion-grid,
ion-row {
  height: 100%;
}

.signup-background {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.signup-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
}

.signup-header {
  font-weight: 600;
  line-height: 44px;
  font-size: 28px;
  color: var(--ion-color-primary);
}
.signup-sub-heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--ion-color-tertiary);
}

.signup-container {
  background-color: transparent;
  max-width: 350px;
  padding: 16px;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.form-input-label {
  color: var(--ion-color-primary);
  font-weight: 500 !important;
  font-size: 16px;
}
.form-input {
  margin-top: 15px;
  padding: 10px 16px !important;
  background-color: var(--ion-color-light);
  color: var(--ion-color-tertiary);
  border-radius: 8px;

  &.ion-invalid {
    background-color: var(--ion-color-danger-opacity);
    color: var(--ion-color-danger);
  }
  &:is(.ion-untouched, .ion-pristine) {
    background-color: var(--ion-color-light);
    color: var(--ion-color-tertiary);
  }
}

.social-signup {
  padding: 0 16px;
  display: flex;
  place-content: space-between;
  margin: 20px 0 30px 0;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 20px;

  .icon {
    padding: 0 7px;
  }
}

.switch-page {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}
