<ion-content no-bounce>
  <app-header *ngIf="isWeb" showAction="signin"></app-header>
  <ion-grid class="page-content ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col
        *ngIf="isWeb"
        size-sm="8"
        size-lg="7"
        size-xl="7"
        class="ion-hide-sm-down ion-text-center ion-align-self-center ion-no-padding"
      >
        <img src="assets/images/login-backgroud.svg" alt="signup-backgroud" />
      </ion-col>
      <ion-col size-sm="12" size-lg="5" size-xl="5" class="ion-align-self-center ion-no-padding">
        <div class="signup-container my-form">
          <div *ngIf="!isWeb" class="pb-3" [class.ion-text-center]="!isWeb">
            <img style="width: 240px; object-fit: contain" src="assets/logos/rectangle-logo.png" alt="" />
          </div>
          <h1 class="signup-header ion-padding-start" translate>Create_account</h1>
          <p class="signup-sub-heading ion-padding-start" translate>Create_account_subheading</p>
          <form (ngSubmit)="signup()" [formGroup]="signupForm" novalidate autocomplete="off">
            <ion-text color="danger" [hidden]="!error || signupForm.dirty || isLoading">
              <span class="ion-padding" translate>Email or password incorrect.</span>
            </ion-text>
            <ion-list>
              <ion-item lines="none">
                <ion-label class="form-input-label" position="stacked" translate>Enter_email</ion-label>
                <ion-input
                  class="form-input"
                  type="text"
                  formControlName="email"
                  autocomplete="email"
                  autocomplete="new-email"
                ></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label class="form-input-label" position="stacked" translate>Password</ion-label>
                <ion-input
                  class="form-input"
                  [type]="isVisiblePassword ? 'text' : 'password'"
                  formControlName="password"
                  autocomplete="current-password"
                  autocomplete="new-password"
                ></ion-input>
                <ion-icon
                  class="eye-icon"
                  (click)="isVisiblePassword = !isVisiblePassword"
                  [name]="!isVisiblePassword ? 'eye-off-outline' : 'eye-outline'"
                ></ion-icon>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="form-input-label" position="stacked" translate>Confirm Password</ion-label>
                <ion-input
                  class="form-input"
                  [type]="isVisibleConfirmPassword ? 'text' : 'password'"
                  formControlName="confirmPassword"
                  autocomplete="current-password"
                  autocomplete="new-password"
                ></ion-input>
                <ion-icon
                  class="eye-icon"
                  (click)="isVisibleConfirmPassword = !isVisibleConfirmPassword"
                  [name]="!isVisibleConfirmPassword ? 'eye-off-outline' : 'eye-outline'"
                ></ion-icon>
              </ion-item>
              <ion-text color="danger">
                <span *ngIf="f?.['confirmPassword']?.errors?.['matching']" class="ion-padding small-errortext" translate
                  >Passwords do not match</span
                >
              </ion-text>
            </ion-list>

            <div class="social-signup" [class.d-flex-column]="!isWeb">
              <ion-text color="medium"> Or continue with </ion-text>
              <ion-grid class="ion-padding-top">
                <ion-row>
                  <ion-col size="4" class="icon">
                    <img src="assets/images/facebook.svg" alt="" />
                  </ion-col>
                  <ion-col size="4" class="icon">
                    <img src="assets/images/google.svg" alt="" />
                  </ion-col>
                  <ion-col size="4" class="icon">
                    <img src="assets/images/apple.svg" alt="" />
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div class="ion-padding-horizontal">
              <ion-button
                type="submit"
                class="submit-button"
                [disabled]="signupForm.invalid || isLoading"
                color="primary"
                expand="block"
                translate
              >
                Create_account
              </ion-button>
            </div>

            <ion-text color="tertiary">
              <h5 class="pt-3 switch-page">Already have an account? <a routerLink="/login"> Sign in here</a>.</h5>
            </ion-text>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer *ngIf="isWeb"></app-footer>
</ion-content>
