<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" default-href="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="mr-5 ion-align-items-end ion-text-center">About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content class="ion-padding-horizontal setting-page">
    <div lines="none" class="ion-text-center mb-4 mt-4">
      <img class="avatar-img" src="assets/images/about-ion.png" />
    </div>

    <ion-text color="primary" class="ion-padding-horizontal">
      <h1>Story Keeper</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </p>
    </ion-text>

    <app-find-on-social ngClass="social-icons"></app-find-on-social>
  </ion-content>
</ion-content>
