<div class="ion-page modal-height">
  <ion-grid class="m-0 inner-content">
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <ion-button (click)="dismiss()" size="small" fill="clear" class="ion-float-end">
          <ion-icon name="close-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding" size="12">
        <ion-text class="ion-text-center">
          <h1>Edit Book</h1>
        </ion-text>
      </ion-col>

      <ion-col size="12" class="my-form">
        <form (ngSubmit)="save()" [formGroup]="step1Form" novalidate autocomplete="off">
          <ion-list>
            <ion-item lines="none">
              <ion-label class="form-input-label" position="stacked" translate>Book Title</ion-label>
              <ion-input class="form-input" type="text" formControlName="bookTitle" autocomplete="Name"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label class="form-input-label" position="stacked" translate>Recipients Name</ion-label>
              <ion-input
                class="form-input"
                type="text"
                formControlName="recipientName"
                autocomplete="new email"
              ></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label class="form-input-label" position="stacked" translate>Recipients Email</ion-label>
              <ion-input
                class="form-input"
                type="text"
                formControlName="recipientEmail"
                autocomplete="new email"
              ></ion-input>
            </ion-item>

            <ion-item lines="none">
              <div (click)="getImages()" class="image-container bg">
                <ion-icon *ngIf="!imageUrl" class="plus-icon" name="add-circle-outline"></ion-icon>
                <img *ngIf="imageUrl" class="img-fluid" [src]="imageUrl" alt="" />
              </div>
            </ion-item>
          </ion-list>
          <div class="ion-padding-horizontal pt-3">
            <ion-button
              type="submit"
              class="submit-button ion-text-capitalize"
              [disabled]="step1Form.invalid || isLoading"
              color="primary"
              expand="block"
              translate
              >Save Edit</ion-button
            >
            <ion-button
              type="button"
              (click)="dismiss()"
              class="default-button ion-text-capitalize mt-4"
              color="secondary"
              expand="block"
              fill="outline"
              translate
              >Cancel</ion-button
            >
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
