ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
  margin-bottom: 0px;
}

ion-accordion ion-item[slot="header"] {
  --background: #dfe2e9;
  margin-bottom: 20px;
  border-radius: 6px;
  font-size: 15px;
  --color: black;
  font-weight: 500;
  line-height: 20px;
}

ion-item {
  margin: 8px 0;
  border: 0.3px solid #dfe2e9;
  border-radius: 6px;
}
