<app-loader *ngIf="isLoading" [isLoading]="isLoading"></app-loader>
<p *ngIf="isLoading">Please wait while the audio is being loaded!</p>
<div [style.visibility]="isLoading ? 'hidden' : ''">
  <div class="waveform" (click)="wave.playPause()" [id]="uuid"></div>
  <p class="audio-time">
    <span>{{ elapsedTime }}</span>
    <span>{{ remainingTime }}</span>
  </p>

  <div class="d-flex justify-content-center mt-5">
    <ion-icon
      (click)="wave.playPause()"
      slot="end"
      class="curson-pointer btn-icon-player"
      [color]="!isPlaying ? 'tertiary' : 'danger'"
      [src]="isPlaying ? 'assets/images/stop.svg' : 'assets/images/play.svg'"
    ></ion-icon>

    <!-- <ion-button
      [disabled]="!isPlayable"
      (click)="wave.playPause()"
      type="button"
      shape="circle"
      class="control-button ion-border"
      color="tranparent"
    >
      <ion-icon [color]="!isPlaying ? 'tertiary' : 'danger'" [name]="isPlaying ? 'square' : 'play'"></ion-icon>
    </ion-button> -->
  </div>
</div>
