<div class="ion-page">
  <ion-grid class="m-0">
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="dismiss()" size="small" fill="clear" class="ion-float-end">
          <ion-icon name="close-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-text class="ion-text-center">
          <h1 class="title">Buy new Book</h1>
          <p class="subtitle">Please select a book type</p>
        </ion-text>
      </ion-col>

      <ion-col size="12">
        <ion-list>
          <app-loader *ngIf="isLoading" [isLoading]="isLoading"></app-loader>
          <ion-radio-group (ionChange)="selectedProduct($event)">
            <ion-item *ngFor="let item of productsData" lines="none">
              <ion-label>{{ item?.name }}/ ${{ item?.priceInDollars }} </ion-label>
              <ion-radio slot="start" [value]="item"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <div class="my-form">
            <div class="form-container">
              <form (ngSubmit)="setPromoCode()" [formGroup]="PromoForm" novalidate autocomplete="off">
                <ion-list>
                  <ion-item lines="none">
                    <ion-label class="form-input-label" position="stacked" translate>Promo code / coupon</ion-label>
                    <ion-input
                      [ngClass]="calculatedDiscount ? 'green-input form-input' : 'form-input'"
                      type="text"
                      formControlName="promoCode"
                      autocomplete="promoCode"
                      (ionChange)="searchPromo($event)"
                    ></ion-input>
                  </ion-item>
                </ion-list>
                <p class="text-center" *ngIf="calculatedDiscount">${{ calculatedDiscount }} OFF</p>
              </form>
            </div>
          </div>
          <div class="ion-padding-horizontal mt-5 mb-2">
            <ion-button
              [disabled]="isLoading || !selectedItem"
              (click)="paymentPage()"
              type="button"
              class="default-button ion-text-capitalize"
              color="primary"
              expand="block"
              translate
            >
              Buy New Book
            </ion-button>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
