<div class="ion-page">
  <ion-grid class="m-0">
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="dismiss()" size="small" fill="clear" class="ion-float-end">
          <ion-icon name="close-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-text class="ion-text-center">
          <h1 class="title">Buy new Book</h1>
          <p class="subtitle">Please select a book type</p>
        </ion-text>
      </ion-col>

      <ion-col size="12">
        <ion-list>
          <ion-radio-group value="biff">
            <ion-item lines="none">
              <ion-label>24 story in book/ $20 </ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-label>52 story in book/ $30 </ion-label>
              <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-label>3 story book with 24 story / $50 </ion-label>
              <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <div class="ion-padding-horizontal mt-5 mb-2">
            <ion-button
              (click)="dismiss(true)"
              type="button"
              class="default-button ion-text-capitalize"
              color="primary"
              expand="block"
              translate
            >
              Buy New Book
            </ion-button>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
