ion-item {
  --background: var(--ion-color-light);
  --background-activated: var(--ion-color-primary);
  --border-radius: 9px;
  --color: var(--ion-color-primary);
  --color-activated: #fff;
  margin-bottom: 10px;
}
