<div class="d-flex justify-content-center mt-5">
  <ion-button
    *ngIf="isRecStarted && !isRecorded"
    [disabled]="!hasRecordingPermission"
    (click)="!isPlaying ? resumeRecording() : pauseRecording()"
    type="button"
    shape="circle"
    class="control-button ion-border"
    color="tranparent"
  >
    <ion-icon
      [ngClass]="isPlaying ? 'blink' : ''"
      [color]="!isPlaying ? 'tertiary' : 'danger'"
      [name]="isPlaying ? 'pause' : 'play'"
    ></ion-icon>
  </ion-button>

  <ion-button
    *ngIf="isRecStarted && !isRecorded"
    [disabled]="!hasRecordingPermission"
    (click)="stopRecording()"
    type="button"
    shape="circle"
    class="control-button ion-border"
    color="tranparent"
  >
    <ion-icon [color]="'danger'" [name]="'square'"></ion-icon>
  </ion-button>
</div>
