<div class="d-flex justify-content-center mt-5">
  <div class="container">
    <!-- <div style="max-height: 50px;"> -->
    Recording time:
    <cd-timer
      (onComplete)="onTimerComplete($event)"
      [countdown]="true"
      [startTime]="600"
      #basicTimer
      [autoStart]="false"
      format="ms"
    ></cd-timer>

    <ion-img *ngIf="!isPlaying" class="m-auto img-gif" [src]="'assets/images/sound-waves.png'" alt=""></ion-img>
    <ion-img *ngIf="isPlaying" class="m-auto img-gif" [src]="'assets/images/sound-gif.gif'" alt=""></ion-img>
    <!-- <ion-progress-bar *ngIf="isWeb" class="mt-2" [value]="isPlaying ? step * 5 : 0"></ion-progress-bar> -->

    <div class="row justify-content-center mt-3">
      <!-- <ion-button
        *ngIf="isRecStarted && !isRecorded"
        [disabled]="!hasRecordingPermission"
        (click)="!isPlaying ? resumeRecording() : pauseRecording()"
        type="button"
        shape="circle"
        class="control-button ion-border"
        color="tranparent"
      >
        <ion-icon
          [ngClass]="isPlaying ? 'blink' : ''"
          [color]="!isPlaying ? 'tertiary' : 'danger'"
          [name]="isPlaying ? 'pause' : 'play'"
        ></ion-icon>
      </ion-button> -->

      <ion-icon
        [class.disabled]="!hasRecordingPermission"
        [ngClass]="isPlaying ? 'blink' : ''"
        (click)="!isPlaying ? resumeRecording() : pauseRecording()"
        slot="end"
        class="cursor-pointer btn-icon-player mr-2"
        [color]="!isPlaying ? 'tertiary' : 'danger'"
        [name]="isPlaying ? 'pause' : 'play'"
      ></ion-icon>

      <!-- <ion-button
        *ngIf="isRecStarted && !isRecorded"
        [disabled]="!hasRecordingPermission"
        (click)="stopRecording()"
        type="button"
        shape="circle"
        class="control-button ion-border"
        color="tranparent"
      > -->
      <ion-icon
        *ngIf="isRecStarted && !isRecorded"
        [class.disabled]="!hasRecordingPermission"
        (click)="stopRecording()"
        [color]="'danger'"
        class="cursor-pointer btn-icon-player"
        src="assets/images/stop.svg"
        title="stop"
      ></ion-icon>
      <!-- </ion-button> -->
    </div>
  </div>
</div>
