.ion-page {
  padding: 4rem;
}

h3 {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  line-height: 20px;
}

p {
  font-size: 12px;
  line-height: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

section {
  .heading {
    color: #242f40;
    font-size: 18px;
    font-weight: 600;
  }
}

ion-item {
  &::part(native) {
    .input-wrapper {
      place-content: space-between center;
    }
  }
}
