<ion-content class="ion-page">
  <div [class.web-page]="isWeb">
    <ion-card class="ion-text-center ion-card-as-header" [class.header-web]="isWeb">
      <ion-header class="ion-no-padding ion-no-border" *ngIf="!isWeb">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button icon="chevron-back-outline" defaultHref="/tabs/home"></ion-back-button>
          </ion-buttons>
          <ion-icon
            color="light"
            class="more-icon ion-padding-end"
            slot="end"
            name="ellipsis-horizontal-circle-outline"
          ></ion-icon>
        </ion-toolbar>
      </ion-header>
      <ion-card-content [ngClass]="isWeb ? 'ion-no-padding' : 'ion-padding'" [class.mb-4]="isWeb">
        <ion-card-title>
          <h1 translate>My books</h1>
        </ion-card-title>
      </ion-card-content>
    </ion-card>

    <div [ngClass]="isWeb ? 'ion-no-padding' : 'ion-padding'">
      <ion-grid class="p-0 mt-3">
        <section>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="heading">My books</div>
          </div>

          <ion-list>
            <app-loader *ngIf="isLoading" [isLoading]="isLoading"></app-loader>
            <ng-container *ngFor="let book of books; let last = last">
              <app-list-item *ngIf="book.status == 5 || book.status == 99" [item]="book"></app-list-item>
              <div *ngIf="book.status != 5 && book.status != 99 && last" class="no-published-book">
                <p>No books available!</p>
                <div class="text-center">
                  <img src="assets/images/no-published-book.svg" alt="image" />
                </div>
              </div>
            </ng-container>
            <div *ngIf="!books.length" class="no-published-book">
              <p>No books available!</p>
              <div class="text-center">
                <img src="assets/images/no-published-book.svg" alt="image" />
              </div>
            </div>
          </ion-list>
        </section>

        <section>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="heading">For request</div>
          </div>

          <ion-list slot="content">
            <ng-container *ngIf="books | filter: myLibraryTabs['inprogress'] as items">
              <ion-item *ngFor="let book of items" lines="none" class="ion-no-padding">
                <ion-label
                  class="ion-text-wrap"
                  fxLayout.xs="column"
                  fxLayout="row"
                  fxLayoutAlign.gt-xs="space-between center"
                >
                  <app-list-item [item]="book"></app-list-item>
                  <div class="action-button">
                    <ion-button
                      type="button"
                      (click)="openRequestPopup(book)"
                      class="default-button sm ion-text-capitalize"
                      [color]="'primary'"
                      expand="block"
                      translate
                    >
                      Request Pending
                    </ion-button>
                  </div>
                </ion-label>
              </ion-item>
              <div *ngIf="!items.length" class="no-published-book">
                <p>You donot have book requests yet!</p>
                <div class="text-center">
                  <img src="assets/images/no-published-book.svg" alt="image" />
                </div>
              </div>
            </ng-container>
          </ion-list>
        </section>
      </ion-grid>
    </div>
  </div>
</ion-content>
