<ion-content class="ion-page">
  <app-mobile-header backPageUrl="/tabs/home" *ngIf="!isWeb">
    <div class="header-content">
      <ion-card-title class="mb-3">
        <h1 class="text-white" translate>Edit my new book</h1>
      </ion-card-title>

      <ion-text class="ion-text-center" color="primry">
        <p>Your book has 16 chapters. There are 24 chapters in total.</p>
      </ion-text>
    </div>
  </app-mobile-header>
  <div [class.web-page]="isWeb">
    <ion-text color="primary" *ngIf="isWeb">
      <ion-breadcrumbs>
        <ion-breadcrumb routerLink="/tabs/my-library"> My Library </ion-breadcrumb>
        <ion-breadcrumb routerLink="/tabs/my-library/book/5/TestBook3"> My Book #2 </ion-breadcrumb>
        <ion-breadcrumb> Sharing </ion-breadcrumb>
      </ion-breadcrumbs>
    </ion-text>
    <div [ngClass]="isWeb ? 'ion-no-padding' : 'ion-padding'">
      <ion-grid class="p-0 mt-3">
        <ion-text>
          <h4>Sharing</h4>
        </ion-text>

        <ion-list>
          <ion-item lines="none" class="ion-no-padding">
            <ion-label>user3@gmail.com</ion-label>

            <ion-label color="danger" class="cursor-pointer" [ngClass]="isWeb ? 'text-center' : 'text-right'">
              <span *ngIf="isWeb">Delete</span>
              <ion-icon slot="end" color="danger" name="close-outline"></ion-icon>
            </ion-label>
          </ion-item>

          <ion-item lines="none" class="ion-no-padding" fxLayout="column">
            <div>
              <ion-label
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign="start center"
                color="secondary"
                (click)="addListener()"
                class="cursor-pointer mt-3"
                [ngClass]="isWeb ? 'text-left' : 'text-center'"
              >
                <ion-icon slot="end" color="danger" src="assets/images/plus-square.svg"></ion-icon>
                <span>Add new Listener</span>
              </ion-label>
              <!-- <p class="mt-2">You have empty 8 chapters out of 24</p> -->
            </div>
          </ion-item>

          <!-- <div class="btns-container pt-3">
            <ion-button type="submit" class="submit-button ion-text-capitalize" color="primary" expand="block" translate
              >Save Edits</ion-button
            >
            <ion-button
              type="button"
              class="default-button ion-text-capitalize mt-4"
              color="secondary"
              expand="block"
              fill="outline"
              translate
              >Cancel</ion-button
            >
          </div> -->
        </ion-list>
      </ion-grid>
    </div>
  </div>
</ion-content>
