$tabs-width: 90px;
$tabs-height: $tabs-width;

.split-pane-web {
  height: calc(100vh - 55px);
  margin-top: 55px;
}

ion-tab-button {
  width: 100%;
  height: $tabs-height;
  flex: 0 1 auto;
}

ion-menu {
  width: 320px;
  --background: linear-gradient(164.45deg, var(--ion-color-secondary) 33.07%, var(--ion-color-secondary-shade) 91.99%);
}

ion-content {
  --background: transparent;
  width: 320px;

  .sidebar-content {
    padding-top: 65px;
  }
}

.avatar {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  .avatar-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: var(--ion-content-margin);
  }

  .avatar-caption {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #fff;
  }
}

.menu-links {
  color: #fff;
  padding-top: 30px;
  padding-left: 0;
  width: 140px;
  margin: auto;
  list-style: none;

  li {
    font-size: 18px;
    line-height: 24px;
    padding: 5px;
    font-weight: normal;
    cursor: pointer;

    &.active {
      color: var(--ion-color-primary);
    }
  }
}
