<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Home p</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-split-pane contentId="main-content">
  <ion-menu side="start" type="overlay" contentId="main-content" class="sidebar">
    <ion-content class="sidebar-content">
      <div ion-fixed class="sidebar-content">
        <ion-list lines="full" class="ion-no-padding bg-transparent">
          <div lines="none" class="avatar mb-4">
            <img
              class="avatar-img"
              src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
            />
            <ion-label class="avatar-caption"> {{ username }}</ion-label>
          </div>

          <div class="ion-padding-horizontal">
            <ion-button type="button" class="primary-button" color="primary" expand="block" translate
              >Buy New Book</ion-button
            >
          </div>

          <ul class="menu-links">
            <li [routerDirection]="'root'" routerLink="/home" routerLinkActive="active">
              <ion-label><span translate>My Library</span></ion-label>
            </li>
            <li [routerDirection]="'root'" routerLink="/home" routerLinkActive="active">
              <ion-label><span translate>My Books</span></ion-label>
            </li>
            <li [routerDirection]="'root'" routerLink="/tabs/settings" routerLinkActive="active">
              <ion-label><span translate>Settings</span></ion-label>
            </li>
          </ul>
        </ion-list>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
