@import "../../theme/mixins.scss";
$tabs-width: 90px;
$tabs-height: $tabs-width;

.app-name {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  margin: auto;
}

.logout-button {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: none;
}

.split-pane-web {
  height: calc(100vh - 55px);
  margin-top: 55px;
}

ion-tab-button {
  width: 100%;
  height: $tabs-height;
  flex: 0 1 auto;
}

.header-toolbar {
  padding: 0 16px;

  @include for-phone-only {
    padding: 0;
  }
}
ion-toolbar {
  --min-height: 60px;
}
ion-menu {
  &.menu-width {
    width: 300px;
  }
  --background: linear-gradient(164.45deg, var(--ion-color-secondary) 33.07%, var(--ion-color-secondary-shade) 91.99%);
}

ion-menu::part(backdrop) {
  background-color: transparent;
}

ion-content {
  --background: transparent;
  --width: 300px;

  .sidebar-content {
    padding-top: 65px;
  }
}

.avatar {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  .avatar-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: var(--ion-content-margin);
  }

  .avatar-caption {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #fff;
  }
}

.menu-links {
  color: #fff;
  padding-top: 30px;
  padding-left: 0;
  margin: auto;
  padding-left: 5rem;
  list-style: none;

  li {
    outline: none;
    font-size: 18px;
    line-height: 24px;
    padding: 5px;
    font-weight: normal;
    cursor: pointer;
    display: flex;
    align-items: center;
    ion-icon {
      margin-right: 4px;
    }

    &.active {
      color: var(--ion-color-primary);
    }
  }
}
