<ion-content>
  <ion-card class="ion-text-center" *ngIf="!isWeb">
    <ion-header color="primary" class="ion-no-border">
      <ion-toolbar color="primary">
        <!-- <ion-buttons slot="start">
         <ion-back-button icon="chevron-back-outline" defaultHref="/tabs/home"></ion-back-button>
        </ion-buttons> -->
        <ion-title class="ml-5 text-white ion-align-items-end ion-text-center">My Library</ion-title>
        <ion-icon
          (click)="openMenu()"
          class="more-icon ion-padding-end"
          slot="end"
          name="ellipsis-horizontal-circle-outline"
        ></ion-icon>
      </ion-toolbar>
    </ion-header>
    <div class="avatar m-auto">
      <img class="avatar-img" src="assets/logos/logo-cir-white.png" />
    </div>
    <ion-card-content>
      <ion-card-title>
        <h1 class="text-white" translate>{{ userinfo?.firstName }} {{ userinfo?.lastName }}</h1>
      </ion-card-title>
      <div class="ion-padding-horizontal mt-4 mb-3">
        <ion-button
          type="button"
          mode="md"
          (click)="buyNewBook()"
          class="default-button ion-text-capitalize"
          color="secondary"
          expand="block"
          translate
        >
          Buy New Book
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding" [class.web-page]="isWeb">
    <ion-text mode="md" color="primary">
      <h1 class="heading" [class.isWeb]="isWeb">My Books in Library</h1>
      <ion-segment mode="android" scrollable [value]="segmentValue" (ionChange)="segmentChanged($event)">
        <ion-segment-button mode="android" *ngFor="let item of segments" [value]="item.value">
          <ion-label mode="android">{{ item.name }}</ion-label>
        </ion-segment-button>
      </ion-segment>
      <p class="small" *ngIf="segmentValue == 'pending'">Edit a book to start your book request</p>
    </ion-text>

    <ion-grid class="p-0 mt-3">
      <div *ngIf="!isLoading" [@listAnimation]="books?.length" class="grid-container">
        <app-books-card *ngFor="let book of books" [book]="book"></app-books-card>
      </div>

      <app-loader *ngIf="isLoading" [isLoading]="isLoading"></app-loader>
    </ion-grid>

    <div *ngIf="!isAuthor" [class.p-5]="isWeb" [fxLayout]="isWeb ? 'column-reverse' : 'column'">
      <ion-text color="primary">
        <p class="message">We are sorry, you have not become the author of the book yet.</p>
      </ion-text>

      <div class="empty-screen-image">
        <img
          [src]="isWeb ? 'assets/images/emtyscreen-bg-large.png' : 'assets/images/emtyscreen-bg.png'"
          alt="angular logo"
        />
      </div>
    </div>
  </div>
</ion-content>
