<ion-header *ngIf="!isWeb" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="mr-5 ion-align-items-end ion-text-center">Payments</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal setting-page">
  <ion-list [ngClass]="isWeb ? 'p-5' : 'p-1'">
    <ion-list-header *ngIf="isWeb" class="p-0 mb-2">
      <ion-label translate>
        <h1>Payments</h1>
      </ion-label>
    </ion-list-header>
    <div class="form-container">
      <div lines="none" class="avatar mb-4 mt-4">
        <img class="avatar-img" src="assets/logos/logo-cir-blue.png" />
      </div>

      <ngx-stripe-card-group [formGroup]="stripeForm" [elementsOptions]="elementsOptions">
        <ion-list>
          <ion-label for="card-number" class="form-input-label" position="stacked" translate>Card number</ion-label>
          <div id="card-number" class="form-control input-field">
            <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
          </div>

          <div class="mt-3">
            <ion-label for="card-expiry" class="form-input-label" position="stacked" translate>Card expiry </ion-label>
            <div id="card-number" class="form-control input-field">
              <ngx-stripe-card-expiry id="card-expiry" [options]="cardOptions"></ngx-stripe-card-expiry>
            </div>
          </div>
          <div class="mt-3">
            <ion-label for="card-cvc" class="form-input-label" position="stacked" translate>Card cvc</ion-label>
            <div id="card-number" class="form-control input-field">
              <ngx-stripe-card-cvc id="card-cvc" [options]="cardOptions"></ngx-stripe-card-cvc>
            </div>
          </div>
        </ion-list>
        <div>
          <ion-button
            type="button"
            (click)="payNow()"
            class="submit-button ion-text-capitalize"
            color="primary"
            expand="block"
            translate
          >
            Pay ${{ routeParams?.amount }}
            <app-loader *ngIf="isLoading" [isLoading]="isLoading"></app-loader>
          </ion-button>
        </div>
      </ngx-stripe-card-group>
    </div>
  </ion-list>
</ion-content>
