ion-avatar {
  --border-radius: 8px;
  width: 60px;
  height: 60px;
}

h3 {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  line-height: 20px;
}

p {
  font-size: 12px;
  line-height: 20px;
}

.cursor-pointer {
  cursor: pointer;
}
