<ion-header *ngIf="!isWeb" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" default-href="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="mr-5 ion-align-items-end ion-text-center">Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list [ngClass]="isWeb ? 'p-5' : 'p-3'">
    <ion-list-header *ngIf="isWeb" class="p-0 mb-2">
      <ion-label translate> <h1>Settings</h1></ion-label>
    </ion-list-header>
    <ion-item button lines="none">
      <div class="ion-avatar">
        <img class="avatar-img" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
      </div>
      <ion-label translate>My Profile</ion-label>
    </ion-item>
    <ion-item button (click)="navigateTo('help')" lines="none">
      <div class="ion-avatar">
        <ion-icon name="help-circle-outline"></ion-icon>
      </div>
      <ion-label translate>Help</ion-label>
    </ion-item>
    <ion-item button lines="none" (click)="navigateTo('about')">
      <div class="ion-avatar">
        <ion-icon name="help-circle-outline"></ion-icon>
      </div>
      <ion-label translate>About</ion-label>
    </ion-item>
    <ion-item button lines="none" (click)="navigateTo('privacy-policy')">
      <div class="ion-avatar">
        <ion-icon name="document-outline"></ion-icon>
      </div>
      <ion-label translate>Privacy Policy</ion-label>
    </ion-item>
    <ion-item button lines="none" (click)="navigateTo('term-of-services')">
      <div class="ion-avatar">
        <ion-icon name="document-outline"></ion-icon>
      </div>
      <ion-label translate>Terms of Service</ion-label>
    </ion-item>
    <ion-item button class="m" lines="none" (click)="navigateTo('language')">
      <div class="ion-avatar">
        <ion-icon name="globe"></ion-icon>
      </div>
      <app-language-selector type="item"></app-language-selector>
    </ion-item>
    <ion-item button (click)="logout()">
      <div class="ion-avatar">
        <ion-icon name="log-out"></ion-icon>
      </div>
      <ion-label translate>Logout</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
