<ion-header *ngIf="!isWeb" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" icon="chevron-back-outline" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="mr-5 ion-align-items-end ion-text-center">Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list [ngClass]="isWeb ? 'p-5' : 'p-3'">
    <ion-list-header *ngIf="isWeb" class="p-0 mb-2">
      <ion-label translate> <h1>Settings</h1></ion-label>
    </ion-list-header>
    <ion-item button lines="none" color="tertiary" (click)="navigateTo('profile')">
      <div class="ion-avatar">
        <img class="avatar-img" src="assets/logos/logo-cir-white.png" />
      </div>
      <ion-label translate>My Profile</ion-label>
    </ion-item>

    <ion-item button lines="none" (click)="navigateTo('archived-books')">
      <div class="ion-avatar">
        <img class="avatar-img" src="assets/logos/logo-cir-white.png" />
      </div>
      <ion-label translate>Archived books</ion-label>
    </ion-item>

    <ion-item button (click)="navigateTo('help')" lines="none">
      <div class="ion-avatar">
        <ion-icon name="help-circle-outline"></ion-icon>
      </div>
      <ion-label translate>Help</ion-label>
    </ion-item>
    <ion-item button lines="none" (click)="navigateTo('about')">
      <div class="ion-avatar">
        <ion-icon name="help-circle-outline"></ion-icon>
      </div>
      <ion-label translate>About</ion-label>
    </ion-item>
    <ion-item button lines="none" (click)="navigateTo('privacy-policy')">
      <div class="ion-avatar">
        <ion-icon name="document-outline"></ion-icon>
      </div>
      <ion-label translate>Privacy Policy</ion-label>
    </ion-item>
    <ion-item button lines="none" (click)="navigateTo('term-of-services')">
      <div class="ion-avatar">
        <ion-icon name="document-outline"></ion-icon>
      </div>
      <ion-label translate>Terms of Service</ion-label>
    </ion-item>
    <ion-item button class="m" lines="none" (click)="navigateTo('language')">
      <div class="ion-avatar">
        <ion-icon name="globe"></ion-icon>
      </div>
      <ion-label translate>Language</ion-label>
      <!-- <app-language-selector type="item"></app-language-selector> -->
    </ion-item>
    <ion-item button (click)="logout()" lines="none">
      <div class="ion-avatar">
        <ion-icon name="log-out"></ion-icon>
      </div>
      <ion-label translate>Logout</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
